html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 100%;
}

body {
  color: #292929;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 100;
  font-family: "merriweather", serif;
}

*:active {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #58585a;
  color: #d8b98e;
}

::-moz-selection {
  background: #a4a4a7;
  color: #d8b98e;
}

a {
  text-decoration: none;
  transition: color 0.2s ease-in, background-color  0.2s ease-in;
}
a:hover {
  text-decoration: underline;
  transition: color 0.2s ease-in, background-color  0.2s ease-in;
}

p, i, b, em, strong, a, ol, ul, li, dl, dt, dd, figure, figcaption {
  color: #292929;
  font-size: 1rem;
}

p, i, b, em, strong, a, ol, ul, li, dl, dt, dd, figure, figcaption, h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
p:first-child, i:first-child, b:first-child, em:first-child, strong:first-child, a:first-child, ol:first-child, ul:first-child, li:first-child, dl:first-child, dt:first-child, dd:first-child, figure:first-child, figcaption:first-child, h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
  margin-bottom: 0.8rem;
}
p:last-child, i:last-child, b:last-child, em:last-child, strong:last-child, a:last-child, ol:last-child, ul:last-child, li:last-child, dl:last-child, dt:last-child, dd:last-child, figure:last-child, figcaption:last-child, h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
  margin-top: 0.8rem;
  margin-bottom: 0;
}
p:only-child, i:only-child, b:only-child, em:only-child, strong:only-child, a:only-child, ol:only-child, ul:only-child, li:only-child, dl:only-child, dt:only-child, dd:only-child, figure:only-child, figcaption:only-child, h1:only-child, h2:only-child, h3:only-child, h4:only-child, h5:only-child, h6:only-child {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.title-01, .title-02, .title-03, .title-04, .title-05, .title-06 {
  line-height: 1;
}

.title-01 {
  font-family: "refrigerator-deluxe", sans-serif;
  font-size: 3.8147rem;
}

.title-02 {
  font-family: "refrigerator-deluxe", sans-serif;
  font-size: 3.05176rem;
}

.title-03 {
  font-family: "refrigerator-deluxe", sans-serif;
  font-size: 2.44141rem;
}

.title-04 {
  font-family: "nimbus-sans-extended", sans-serif;
  font-size: 1.95313rem;
}

.title-05 {
  font-family: "nimbus-sans-extended", sans-serif;
  font-size: 1.5625rem;
  color: #bc3227;
}

.title-06 {
  font-family: "merriweather", serif;
  font-size: 1.25rem;
  color: #292929;
}

h1 {
  font-family: "refrigerator-deluxe", sans-serif;
  font-size: 5.96046rem;
  text-transform: uppercase;
}

h2 {
  font-family: "refrigerator-deluxe", sans-serif;
  font-size: 2.44141rem;
  margin: 2.40078rem 0 1.18247rem 0;
  font-style: normal;
  font-weight: 300;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

small {
  font-size: 0.64rem;
}

ins, u {
  text-decoration: underline;
}

del, s {
  text-decoration: line-through;
}

.alpha {
  font-size: 5.96046rem;
}

.beta {
  font-size: 4.76837rem;
}

.gamma {
  font-size: 3.8147rem;
}

.delta {
  font-size: 3.05176rem;
}

.epsilon {
  font-size: 2.44141rem;
}

.zeta {
  font-size: 1.95313rem;
}

.eta {
  font-size: 1.5625rem;
}

.theta {
  font-size: 1.25rem;
}

.iota {
  font-size: 1rem;
}

.kappa {
  font-size: 0.8rem;
}

.normal {
  font-size: 1rem;
}

.color-default {
  color: #d8b98e;
}

.color-info, .color-cool {
  color: #2BA0BF;
}

.color-success, .color-fresh {
  color: #3A9536;
}

.color-warn, .color-warm {
  color: #DF7427;
}

.color-danger, .color-hot {
  color: #bc3227;
}

.color-disabled, .color-platinum {
  color: #58585a;
}

.color-premium {
  color: #F4A942;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-no-wrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-light {
  color: #d8b98e;
}

.address__line {
  display: block;
  margin-bottom: 0;
}
.address__line:last-child {
  margin: inherit;
}

/*# sourceMappingURL=editor.css.map */
