body {
	background-color: $cosmic-latte;
}

*, *:before, *:after {
	@include box-sizing(border-box);
}

img {
	width: 100%;
	height: auto;
}

section, header, footer {
	@include full;
}

header {
	padding-top: 1rem;
	padding-bottom: ms(4);
}

.logo {
	@include span(4 of 12);
	@include pre(rem(16));
}

%callout-text {
	font-size: ms(2);
	font-family: $nimbus;
}

%large-title {
	font-size: ms(9);
	line-height: 1;
	font-family: $refrigerator-deluxe;
	text-transform: uppercase;
}

.header-text {
	@extend %callout-text;
	@include span(7 of 12 last);
	color: $cosmic-latte-dark;
	position: relative;
	top: 3rem;
	@at-root #{&}__first-word {
		@extend %large-title;
		position: relative;
		left: -8px;
	}
}

.center {
	text-align: center;
}

.light {
	color: $cosmic-latte-dark;
}

blockquote {
	@extend %callout-text;
	color: $red;
}

.large-text {
	@extend %large-title;
	color: $red;
	font-size: ms(6);
}

.body-text {
	font-size: ms(0);
	&.large {
		font-size: ms(1);
		line-height: 1.5;
	}
}

.about {
	.body-text {
		@include span(12 of 12);
	}
}

.contact {
	background-color: $dark-grey;
}

.hello {
	background-color: $dark-grey;
	@at-root #{&}__text {
		@include span(12 of 12);
		@extend %large-title;
		font-size: ms(4);
		color: $grey;
		text-align: center;
	}
}
.content {
	@include container;
}

.callout {
	background-color: $red;
	padding: rem(20) 0 rem(50) 0;
	* {
		color: $cosmic-latte;
		font-weight: 300;
	}
}

.services {
	position: relative;
	top: -2rem;
}

.card {
	@include span(6 of 12);
	@include box-shadow( 0 2px 12px rgba($dark-grey, 0.1));
	background-color: #fff;
	padding: rem(16) rem(16) rem(24) rem(16);
	border-radius: rem(3);
	min-height: 396px;
	margin-bottom: ms(2);

	*:first-child {
		margin-top: 0;
		padding-top: 0;
	}

	&:nth-child(n + 2) {
		@include span(6 of 12 last);
	}

}
.responsive-br {
	display: none;
}
@include breakpoint(max-width 840px) {
	.responsive-br {
		display: block;
	}
	.content {
		padding: 0 rem(20);
	}
	.callout, .services {
		padding: rem(20) 0;
	}
	.services {
		position: initial;
	}
	.card, .card:nth-child(n + 2) {
		@include span(12 of 12);
		min-height: 0;
	}
}

@include  breakpoint( max-width 780px ) {
	.body-text, .body-text.large {
		font-size: ms(0);
	}

	.logo, .header-text {
		@include span(12 of 12);
	}
	.logo img {
		width: auto;
		margin: 0 auto;
		display: block;
		margin-bottom: ms(5);
	}
	.header-text {
		position: initial;
		top: 0;
		text-align: center;
	}
}