@import "compass/css3";

// determine rem value for functions
$rem-base: 16;

// rem Function
@function rem($px: $rem-base) {
    @return ($px/$rem-base)+rem;
}

// Button Size Map 
$btn-size-map: (
  sm : 16,
  med : 20,
  lrg : 24, 
  xl: 36
);
$secondary-color: #9eda67;

// colors
$default: #9F9F9F;
$primary: #6fe6b3;
$success: #57E521;
$info: #77b8e6;
$warn: #f97429;
$danger: #d52d31;


@mixin btn ($class, $color, $extender: btn, $weight: normal, $text-color: $color, $bg-color: $color,  $border-color: $color, $border-size: 1px, $float: null, $display: inline-block, $hover-text: null, $text-decoration: none, $text-transform: null, $radius: 0) {
  %#{$extender} {
    box-sizing: border-box;
    text-decoration: $text-decoration;
      &:hover, &:active {
        text-decoration: $text-decoration;
    }
  }
  
  %#{$extender}--#{$class} {
      border: $border-size solid;
      border-color: $border-color;
      @if $radius == pill, rem-auto { }
      @else if $radius != 0 {
        border-radius: $radius + px;
        border-radius: rem($radius);
      }
      color: $text-color;
      font-family: sans-serif;
      display: $display;
      font-weight: $weight;
      text-transform: $text-transform;
        @if $float == right, left {
          float: $float;
          clear: both; }
        @else if $display == block, block, inline-block {
          display: $display;
          position: relative; }
      @include transition(background-color, .3s);
      &:hover {
          border-color: darken($border-color , 10%);
          background-color: lighten($bg-color, 25%);
          color: darken($text-color , 10%);
          @include transition(background-color, .3s);
      }
      &:active {
          border-color: darken( $text-color , 15% );
      }
  }
  
  @each $btn-size, $btn-font-size in $btn-size-map {
    %#{$extender}--#{$btn-size}, {
        @extend %#{$extender};
        font-size: $btn-font-size + px;
        font-size: rem($btn-font-size);
        padding: ($btn-font-size*.5) + px ($btn-font-size*.75) + px;
        padding: rem(($btn-font-size*.5)) rem(($btn-font-size*.75));
        margin-top: ($btn-font-size*.5) + px;
        margin-top: rem(($btn-font-size*.5));
        
    }
    .#{$extender}--#{$class}--#{$btn-size} {
        @extend %#{$extender}--#{$btn-size}, %#{$extender}--#{$class};
        @if $radius == pill {
          border-radius: $btn-font-size;
          border-radius: rem($btn-font-size);
        } @else if $radius == rem-auto {
          border-radius: round($btn-font-size*.3) + px;
          border-radius: rem($btn-font-size*.3);
        }
        @else { }
    }
  }
}

// button styles

@include btn(default, $default, $radius: 12, $border-size: 2px);
@include btn(primary, $primary, $radius: rem-auto, $border-size: 2px);
@include btn(info, $info, $radius: rem-auto, $border-size: 2px);
@include btn(success, $success, $radius: rem-auto, $border-size: 2px);
@include btn(warn, $warn, $radius: rem-auto, $border-size: 2px);
@include btn(danger, $danger, $radius: rem-auto, $border-size: 2px);

@include btn(secondary, $secondary-color, $radius: pill, $border-size: 2px);

@include btn(square, $primary, $bg-color: #4ef032, $border-size: 2px, $text-transform: uppercase);

h2 {
  color: $default;
  text-transform: uppercase;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: rem(2);
  font-weight: 200;
  margin-top: rem(30);
  margin-bottom: 0;
}