// Modular Scale:  
// http://modularscale.com/scale/?px1=16&px2=&ra1=1.2&ra2=0

// Font Sizing
html {
	font-size: 100%;
}

body {
	color: $text-dark;
	font-size: rem(20);
	font-style: normal;
	font-weight: 100;
	font-family: $merriweather; 
}

*:active {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

::selection {
	background: $grey;
	color: $cosmic-latte-dark;
}

::-moz-selection {
	background: lighten($grey, 30%);
	color: $cosmic-latte-dark;
}

a {
	text-decoration: none;
	transition: color 0.2s ease-in, background-color  0.2s ease-in;
	&:hover {
		text-decoration: underline;
		transition: color 0.2s ease-in, background-color  0.2s ease-in;
	}
}

p, i, b, em, strong, a, ol, ul, li, dl, dt, dd, figure, figcaption  {
	color: $text-dark;
	font-size: ms(0);
}
//.content {
	p, i, b, em, strong, a, ol, ul, li, dl, dt, dd, figure, figcaption, h1, h2, h3, h4, h5, h6  {
		line-height: 1.5;
		margin-top: ms(-1);
		margin-bottom: ms(-1);
		&:first-child {
			margin-top: 0;
			margin-bottom: ms(-1);
		}
		&:last-child {
			margin-top: ms(-1);
			margin-bottom: 0;
		}
		&:only-child {
			margin-top: ms(-1);
			margin-bottom: ms(-1);
		}
	}
//}

%all-titles {
	line-height: 1;
}

.title-01 {
	@extend %all-titles;
	font-family: $refrigerator-deluxe;
	font-size: ms(6);
}
.title-02 {
	@extend %all-titles;
	font-family: $refrigerator-deluxe;
	font-size: ms(5);
}
.title-03 {
	@extend %all-titles;
	font-family: $refrigerator-deluxe;
	font-size: ms(4);
}
.title-04 {
	@extend %all-titles;
	font-family: $nimbus;
	font-size: ms(3);
}
.title-05 {
	@extend %all-titles;
	font-family: $nimbus;
	font-size: ms(2);
	color: $red;
}
.title-06 {
	@extend %all-titles;
	font-family: $merriweather;
	font-size: ms(1);
	color: $text-dark;
}

h1 {
	font-family: $refrigerator-deluxe;
	font-size: ms(8);
	text-transform: uppercase;
}
h2 {
	font-family: $refrigerator-deluxe;
	font-size: ms(4);
	//line-height: rem-lh(57.332);
	@include margin-heading(57.332);
	font-style: normal;
	font-weight: 300;
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}

em { font-style: italic; }
strong { font-weight: bold; }
small { font-size: ms(-2); }
ins, u { text-decoration: underline; }
del, s { text-decoration: line-through; }

.alpha { font-size: ms(8); }
.beta { font-size: ms(7); }
.gamma { font-size: ms(6); }
.delta { font-size: ms(5); }
.epsilon { font-size: ms(4); }
.zeta { font-size: ms(3); }
.eta { font-size: ms(2); }
.theta { font-size: ms(1); }
.iota { font-size: ms(0); }
.kappa { font-size: ms(-1); }
.normal { font-size: ms(0); }

.color-default { color: $default; }
.color-info, .color-cool { color: $info; }
.color-success, .color-fresh { color: $success; }
.color-warn, .color-warm { color: $warn; }
.color-danger, .color-hot { color: $danger; }
.color-disabled, .color-platinum { color: $disabled; }
.color-premium { color: $gold; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.text-no-wrap { white-space: nowrap; }

.text-lowercase { text-transform: lowercase; }
.text-uppercase { text-transform: uppercase; }

.text-light {
	color: $cosmic-latte-dark;
}