$red: #bc3227;
	$light-red: #E16E64;
$grey: #58585a;
	$light-grey: #DADADA;
	$dark-grey: #292929;
$blue: #0C647B;
	$light-blue: #B8D5DD;
	$dark-blue: #2D5A66;
$cosmic-latte: #ffebd0;
	$cosmic-latte-dark: #d8b98e;
$gold: #F4A942;
	$light-gold: #EFC285;

$text-dark: $dark-grey;
$text-light: $cosmic-latte;

$default: $cosmic-latte-dark;
$info: #2BA0BF;
$success: #3A9536;
$warn: #DF7427;
$danger: $red;

$ms-base: 1rem;
$ms-ratio: $major-third;

$susy: (
	container: 800px,
	colummns: 12,
	gutters: 2/3,
	math: fluid,
	output: float,
	gutter-position: after,	
);

$refrigerator-deluxe: "refrigerator-deluxe",sans-serif;
$merriweather: "merriweather",serif;
$nimbus: "nimbus-sans-extended",sans-serif;
