body {
	background-color: $cosmic-latte;
}

*, *:before, *:after {
	@include box-sizing(border-box);
}

img {
	width: 100%;
	height: auto;
}

section, header, footer, nav {
	@include full;
}

header {
	padding-top: 1rem;
	padding-bottom: ms(4);
}

.logo {
	@include span(4 of 12 narrow);
	//@include gutters( gutter() before );
}

%callout-text {
	font-size: ms(3);
	font-family: $refrigerator-deluxe;
}

%large-title {
	font-size: ms(9);
	line-height: 1;
	font-family: $refrigerator-deluxe;
	text-transform: uppercase;
}

.header-text {
	@extend %callout-text;
	@include span(7 of 12 last);
	color: $cosmic-latte-dark;
	position: relative;
	top: 3rem;
	line-height: 1;
	@at-root #{&}__first-word {
		@extend %large-title;
		position: relative;
		left: -8px;
	}
}

.main-nav {
	background-color: $dark-grey;
	border-bottom: 1px solid darken($dark-grey, 2%);
	@at-root #{&}__list {
		margin-left: 0;
		nav &, nav & :first-child, nav & :last-child {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	@at-root #{&}__item {
		display: inline-block;
		padding: ms(-3) ms(1);
		margin-top: 0;
		margin-bottom: 0;
		@include breakpoint (max-width 580px) {
			& {
				display: block;
				text-align: center;
			}
		}
		&:hover {
			background-color: $grey;
		}
	}
	@at-root #{&}__link {
		color: $cosmic-latte;
		font-weight: 100;
		font-family: $refrigerator-deluxe;
		text-transform: uppercase;
		font-size: ms(1);
		&:hover {
			text-decoration: none;
		}
	}
}

blockquote {
	@extend %callout-text;
	color: $red;
}

.large-text {
	@extend %large-title;
	color: $red;
	font-size: ms(6);
}

.body-text {
	font-size: ms(0);
	&.large {
		font-size: ms(1);
		line-height: 1.5;
	}
}

.about {
	.body-text {
		@include span(12 of 12);
	}
}

.contact {
	background-color: $dark-grey;
	padding: ms(2) 0;
}

.hello {
	background-color: $dark-grey;
	@at-root #{&}__text {
		font-family: $refrigerator-deluxe;
		font-size: ms(4);
		@include full;
		line-height: 1;
		color: $grey;
		text-align: center;
		text-transform: uppercase;
	}
}
.content {
	@include container;
	.text-monochrome {
		color: $cosmic-latte-dark;
	}
}

.callout {
	background-color: $red;
	padding: rem(20) 0 rem(50) 0;
	.text-monochrome {
		color: $light-red;
	}
	*:not([class^="title"]):not([class^="btn"]) {
		color: $cosmic-latte;
		font-weight: 300;
	}
}

.services {
	position: relative;
	top: -2rem;
}
.article-teaser {
	min-height: 396px;
}
.card {
	@include box-shadow( 0 2px 12px rgba($dark-grey, 0.1));
	background-color: #fff;
	padding: rem(16) rem(16) rem(24) rem(16);
	border-radius: rem(3);
	margin-bottom: ms(2);
	overflow: hidden;
	&.pricing {
		padding: 0;
	}
	@at-root #{&}__contents {
		padding: rem(16) rem(16) rem(24) rem(16);
	}
}

.pricing {
	@at-root #{&}__header {
		padding: rem(16) rem(16) rem(16) rem(16);
		&.primary  {
			background-color: $gold;
			* {
				color: $cosmic-latte;
			}
		}
		&.secondary  {
			background-color: $blue;
			* {
				color: $light-blue;
			}
		}
		&.other  {
			background-color: $grey;
			* {
				color: $light-grey;
			}
		}
	}
	@at-root #{&}__plan-name {
		@extend .title-05;
		line-height: 1;
		font-family: $nimbus;
		padding-bottom: ms(0)*.6;
	}
	@at-root #{&}__price {
		font-size: ms(8);
		font-family: $refrigerator-deluxe;
		line-height: .8;
		margin: 0;
		sub {
			font-size: ms(3);
		}
	}
}

.btn {
	font-family: $nimbus;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	line-height: 1.8;
	display: inline-block;
	text-align: center;
	&:hover, &:active {
		text-decoration: none;
	}
	@at-root #{&}--sm {
		font-size: ms(0);
		border-radius: ms(0)*.4;
		padding: ms(0)*.1  ms(0);
	}
	@at-root #{&}--med {
		font-size: ms(1);
		border-radius: ms(1)*.4;
		padding: ms(1)*.1  ms(1);
	}
	@at-root #{&}--lrg {
		font-size: ms(2);
		border-radius: ms(2)*.4;
		padding: ms(2)*.1  ms(2);
	}
	@at-root #{&}--primary {
		color: $gold;
		background-color: transparent;
		border-color: $gold;
		&:hover {
			background-color: rgba($gold, .2);
		}
		&:active {
			color: darken($gold, 20%);
			border-color: darken($gold, 20%);
			background-color: rgba(darken($gold, 20%), .2);
		}
	}
	@at-root #{&}--light {
		color: $cosmic-latte;
		border-color: $cosmic-latte;
		&:hover {
			background-color: rgba($cosmic-latte, .2);
		}
		&:active {
			color: $cosmic-latte-dark;
			border-color: $cosmic-latte-dark;
			background-color: rgba($cosmic-latte-dark, .2);
		}
	}
	@at-root #{&}--default {
		color: $default;
		border-color: $default;
		&:hover {
			background-color: rgba($default, .2);
		}
		&:active {
			color: darken($default, 20%);
			border-color: darken($default, 20%);
			background-color: rgba(darken($default, 20%), .2);
		}
	}
	@at-root #{&}--info {
		color: $info;
		border-color: $info;
		&:hover {
			background-color: rgba($info, .2);
		}
		&:active {
			color: darken($info, 20%);
			border-color: darken($info, 20%);
			background-color: rgba(darken($info, 20%), .2);
		}
	}
	@at-root #{&}--warn {
		color: $warn;
		border-color: $warn;
		&:hover {
			background-color: rgba($warn, .2);
		}
		&:active {
			color: darken($warn, 20%);
			border-color: darken($warn, 20%);
			background-color: rgba(darken($warn, 20%), .2);
		}
	}
	@at-root #{&}--danger {
		color: $danger;
		border-color: $danger;
		&:hover {
			background-color: rgba($danger, .2);
		}
		&:active {
			color: darken($danger, 20%);
			border-color: darken($danger, 20%);
			background-color: rgba(darken($danger, 20%), .2);
		}
	}
	@at-root #{&}--disabled {
		color: $disabled;
		border-color: $disabled;
		cursor: pointer;
		&:hover {
			background-color: rgba($disabled, .2);
		}
		&:active {
			color: darken($disabled, 10%);
			border-color: darken($disabled, 10%);
			background-color: rgba(darken($disabled, 10%), .2);
		}
	}
}

.responsive-br {
	display: none;
}
@include breakpoint(max-width 840px) {
	.article-teaser {
		min-height: 0;
	}
	.responsive-br {
		display: block;
	}
	.content {
		padding: 0 rem(20);
	}
	.callout, .services {
		padding: rem(20) 0;
	}
	.services {
		position: initial;
	}
}

@include  breakpoint( max-width 780px ) {
	.body-text, .body-text.large {
		font-size: ms(0);
	}

	.logo, .header-text {
		@include span(12 of 12);
	}
	.logo img {
		width: auto;
		margin: 0 auto;
		display: block;
		margin-bottom: ms(5);
	}
	.header-text {
		position: initial;
		top: 0;
		text-align: center;
	}
}