.col {
	@at-root #{&}-full {
		@include full;
	}
	@at-root #{&}-1-3 {
		@include span(4 of 12);
		&:nth-child(3n+4), .col-2-3+& {
			@include span(4 of 12 last);
		}
	}
	@at-root #{&}-2-3 {
		@include span(8 of 12);
		.col-1-3+& {
		 	@include span(8 of 12 last);
		 }
	}
	@at-root #{&}-1-4 {
		@include span(3 of 12);
		&:nth-child(4n) {
			@include span(3 of 12 last);
		}
	}
	@at-root #{&}-1-2 {
		@include span(6 of 12);
		&:nth-child(2n) {
			@include span(6 of 12 last);
		}
	}
	@at-root #{&}-3-4 {
		@include span(9 of 12);
	}
}
@include breakpoint(max-width 840px) {
	.col {
		@at-root #{&}-full, 
		#{&}-1-3, 
		#{&}-2-3, 
		#{&}-1-4, 
		#{&}-1-2, 
		#{&}-3-4 {
			margin-top: rem(16);
			margin-bottom:  rem(16);
			@include span(12 of 12);
			&:nth-child(n) {
				@include span(12 of 12);
			}
		}
	}
}