
.list-inline {
	li {
		display: inline-block;
		list-style-type: none;
	}
}

ul {
	margin-left: rem(16);
	li {
		list-style-type: disc;
		margin-left: 0;
		padding-left: 0;
		ul {
			margin-left: rem(16);
			li {
				list-style-type: circle;
			}
		}
	}
}
.list-unstyled {
	li {
		list-style-type: none;
		margin-left: 0;
		padding-left: 0;
		ul {
			margin-left: rem(16);
			li {
				list-style-type: none;
			}
		}
	}
}

.address {
	@at-root #{&}__line {
		display: block;
		margin-bottom: 0;
		&:last-child {
			margin: inherit;
		}
	}
}